
@{
    ViewBag.Title = "Связать";
}

@Html.Hidden("Id", (string)ViewBag.Id)
@Html.Hidden("personType", (string)ViewBag.person)

@using (Html.BeginForm())
{
<h2>Связать аккаунт с человеком</h2>
<div class="form-group">
    <div>
        @Html.DropDownList("personId", (SelectList)ViewBag.PersonList)
    </div>
    <div>

    </div>

    <div>
        <input type="submit" value="Связать" class="btn btn-default" />
    </div>
</div>

}

